<h1>Checkout</h1>
<form class="" action="" method="post">
  <label for="title"></label>What book would you like to checkout?</label>
  <br>
  <input type="text" name="title">
  <br>
  <button type="button" name="button">Submit</button>
</form>
<br>
<a href="/patron">Go back</a>
