<h1>Create</h1>
<form action="/create" method="post">
  <label for="author">Author</label>
  <br>
  <input type="text" name="author">
  <br>
  <label for="title">Title</label>
  <br>
  <input type="text" name="title">
  <br>
  <label for="date">Date</label>
  <br>
  <input type="text" name="date">
  <br>
  <br>
  <button type="button" name="button">Submit</button>
</form>
<br>
<a href="/librarian">Go back</a>
