<h1>Delete</h1>
<form action="/read" method="post">
  <label for="title">What book would you like to delete?</label>
  <br>
  <input type="text" name="title">
  <br>
  <button type="button" name="button">Submit</button>
</form>
<br>
<a href="/librarian">Go back</a>
