<h1>Search By Author</h1>
<form action="/search_by_author" method="post">
  <label for="author">Which author would you like to search?</label>
  <br>
  <input type="text" name="author">
  <br>
  <button type="button" name="button">Submit</button>
</form>
<br>
<a href="/librarian">Go back</a>
