<h1>Search By Title</h1>
<form action="/search_by_title" method="post">
  <label for="title">Which title would you like to search?</label>
  <br>
  <input type="text" name="title">
  <br>
  <button type="button" name="button">Submit</button>
</form>
<br>
<a href="/librarian">Go back</a>
